
:root
{
    --frame_anim: portraits-appear;
    --item_anim: items-appear;
}



.bg-portrait,
.bg-flair
{

    width: 25%;
    height: auto;
}

@keyframes portraits-appear {
    0% {
        filter: drop-shadow(0 0 20rem black);
        transform: perspective(1000px) scale(0) rotateY(30deg) rotateX(2deg) translateX(0) translateY(0) translateZ(0);
    }

    25% {
        filter: drop-shadow(0 0 10rem black);
    }

    50% {
        filter: drop-shadow(0 0 5rem black);
        transform: perspective(1000px) scale(0) rotateY(4deg) rotateX(10deg) translateX(0px) translateY(-10px) translateZ(0);
    }

    to {
        filter: drop-shadow(0 0 .80rem var(--glow1));
        transform: perspective(1000px) scale(1) rotateY(30deg) rotateX(2deg) translateX(0) translateY(0) translateZ(0);
    }
}


@keyframes portraits {
    0% {
        filter: drop-shadow(0 0 .85rem var(--glow1));
        transform: perspective(1000px) rotateY(30deg) rotateX(2deg) translateX(0) translateY(0) translateZ(0);
    }

    25% {
        filter: drop-shadow(0 0 0.66rem var(--glow2));
    }

    50% {
        filter: drop-shadow(0 0 0.55rem var(--glow3));
        transform: perspective(1000px) rotateY(4deg) rotateX(10deg) translateX(0px) translateY(-10px) translateZ(0);
    }

    to {
        filter: drop-shadow(0 0 .85rem var(--glow1));
        transform: perspective(1000px) rotateY(30deg) rotateX(2deg) translateX(0) translateY(0) translateZ(0);
    }
}


@keyframes items-appear {
    0% {
        filter: drop-shadow(0 0 20rem var(--glow1));
        transform: perspective(1000px) scale(0)  rotateY(0deg) rotateX(5deg) translateX(0) translateY(0) translateZ(0);
        opacity: 0%;
    }

    25% {
        filter: drop-shadow(0 0 10rem var(--glow1));
        opacity: 0%;
    }

    50% {
        filter: drop-shadow(0 0 5rem var(--glow1));
        transform: perspective(1000px) rotateY(10deg) scale(0)  rotateX(10deg) translateX(0px) translateY(-10px) translateZ(0);
        opacity: 0%;
    }

    to {
        filter: drop-shadow(0 0 .85rem var(--glow1));
        transform: perspective(1000px) rotateY(0deg) scale(1)  rotateX(5deg) translateX(0) translateY(0) translateZ(0);
        opacity: 100% ;
    }
}



@keyframes items {
    0% {
        filter: drop-shadow(0 0 .85rem var(--glow1));
        transform: perspective(1000px) rotateY(0deg) rotateX(5deg) translateX(0) translateY(0) translateZ(0);
    }

    25% {
        filter: drop-shadow(0 0 0.66rem var(--glow2));
    }

    50% {
        filter: drop-shadow(0 0 0.55rem var(--glow3));
        transform: perspective(1000px) rotateY(10deg) rotateX(10deg) translateX(0px) translateY(-10px) translateZ(0);
    }

    to {
        filter: drop-shadow(0 0 .85rem var(--glow1));
        transform: perspective(1000px) rotateY(0deg) rotateX(5deg) translateX(0) translateY(0) translateZ(0);
    }
}










@keyframes singular-animated {
    0% {
        filter: drop-shadow(0 0 0.50rem var(--glow1));
        transform: rotate(-3deg) translateY(5px) scale(1);
    }


    25% {
        filter: drop-shadow(0 0 0.80rem var(--glow2));
    }

    50% {
        filter: drop-shadow(0 0 0.80rem var(--glow3));
        transform: rotate(1.6deg) translateY(0px) scale(.95);
    }

    to {


        filter: drop-shadow(0 0 0.50rem var(--glow1));
        transform: rotate(-3deg) translateY(5px) scale(1);

    }
}




@keyframes singular-appear {
    0% {
        filter: drop-shadow(0 0 0.50rem var(--glow1));
        transform: rotate(-360deg) translateY(5px) scale(0) skewX(-7deg) skewY(-7deg) translateX(45px) rotateY(-7deg);
    }



    50% {
        filter: drop-shadow(0 0 0.80rem var(--glow3));
        transform: rotate(9deg) translateY(0px) scale(.95);
    }

    to {


        filter: drop-shadow(0 0 0.50rem var(--glow1));
        transform: rotate(-3deg) translateY(5px) scale(1);

    }
}










@keyframes item-last-apear {
    0% {

        transform: perspective(1000px) rotateY(0deg)  scale(0) rotateX(5deg)  translateX(0) translateY(0) translateZ(0);
    }

    25% {


    }

    50% {

        transform: perspective(1000px) rotateY(10deg)  scale(0) rotateX(10deg) translateX(0px) translateY(-10px) translateZ(0);
    }

    to {

         transform: perspective(1000px) rotateY(-3deg) scale(1)  rotateX(5deg) translateX(0) translateY(0) translateZ(0);
    }
}




@keyframes item-last {
    0% {
        filter: drop-shadow(0 0 .85rem var(--glow1));
        transform: perspective(1000px) rotateY(-3deg) rotateX(5deg)  translateX(0) translateY(0) translateZ(0);
    }

    25% {
        filter: drop-shadow(0 0 0.66rem var(--glow2));
    }

    50% {
        filter: drop-shadow(0 0 0.55rem var(--glow3));
        transform: perspective(1000px) rotateY(20deg) rotateX(10deg) translateX(0px) translateY(-10px) translateZ(0);
    }

    to {
        filter: drop-shadow(0 0 .85rem var(--glow1));
        transform: perspective(1000px) rotateY(-3deg) rotateX(5deg) translateX(0) translateY(0) translateZ(0);
    }
}










 .bg-portrait, .bg-flair, .bg-item {
    animation-name: var(--item_anim), items;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1, infinite;

}


.bg-item
{
    z-index: 2;
    animation-name: item-last-apear, item-last;
    width: 20%;
    margin-left: 2%;
    margin-bottom: 4%;

    
}





.item-frame, .portrait-frame, .flair-frame {
    animation-name: var(--frame_anim), portraits !important;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1, infinite;
   
    



}


.patreon
{
    display: none;
}

.item-frame, .bg-item, .streamer {

    animation-duration: 3.8s, 7.8s;
    animation-delay: 0s, 3.8s;

}

.portrait-frame, .bg-portrait {

    animation-duration: 3s, 6.8s;
    animation-delay: 0s, 3s;
}

.flair-frame, .bg-flair {

    animation-duration: 3.4s, 8.8s;
    animation-delay: 0s, 3.4s;


}






.flair-frame, .portrait-frame {
    width: 25%;
    height: auto;
    position: fixed;
    z-index: 5;


}

.item-frame {
    width: 25%;
    height: auto;
    position: fixed;
    z-index: 0;





}

















@keyframes streamer-appear {
    0% {
        filter: drop-shadow(0 0 0.5rem var(--glow1));
        transform: scale(0) perspective(1000px) rotateY(-45deg) rotateX(5deg)  translateX(0) translateY(0) translateZ(0);
        opacity: 0%;
    }

    25% {
        filter: drop-shadow(0 0 1rem var(--glow2));


    }

    50% {
        filter: drop-shadow(0 0 1.25rem var(--glow3)) ;
        transform: scale(0) perspective(1000px) rotateY(-41deg) rotateX(10deg) translateX(0px) translateY(-10px) translateZ(0);
        opacity: 0%;
    }

    to {
        filter: drop-shadow(0 0 0.5rem var(--glow1)) ;
        transform: scale(1) perspective(1000px) rotateY(-45deg) rotateX(5deg) translateX(0) translateY(0) translateZ(0);
        opacity: 100%;
    }
}


@keyframes streamer-3d {
    0% {
        filter: drop-shadow(0 0 0.5rem var(--glow1));
        transform: perspective(1000px) rotateY(-45deg) rotateX(5deg)  translateX(0) translateY(0) translateZ(0);
    }

    25% {
        filter: drop-shadow(0 0 1rem var(--glow2)) ;

    }

    50% {
        filter: drop-shadow(0 0 1.25rem var(--glow3));
        transform: perspective(1000px) rotateY(-41deg) rotateX(10deg) translateX(0px) translateY(-10px) translateZ(0);
    }

    to {
        filter: drop-shadow(0 0 0.5rem var(--glow1));
        transform: perspective(1000px) rotateY(-45deg) rotateX(5deg) translateX(0) translateY(0) translateZ(0);
    }
}



.drops {

    position: fixed;
    width: 100%;
    height: auto;

    padding-top: 10%;
    padding-left: 10%;
    

}



/* Streamer */
.streamer-head {
    transform: rotate(15deg);


    border-radius: 0%;
    display:  !important;
    height: 25%;
    z-index: 1;
    position: absolute;


    animation-timing-function: ease-in-out;
    animation-iteration-count: 1, infinite;
    animation-name: streamer-appear, streamer-3d ;

    animation-duration: 3.8s, 7.8s;
    animation-delay: 0s, 3.8s;


}