div:after {
    position: fixed;
    content: '';
    top: 15%;
    left: 0;
    right: 15%;
    z-index: -1;
    height: 95%;
    width: auto;
    margin: 0 auto;
    filter: blur(80px) opacity(40%);
    transform: scale(.70);
    background: linear-gradient(150deg, black, var(--glow2));
    background-size: 200% 200%;
    animation: animateGlow 10s ease infinite;



}

div {
    position: fixed;




}




@keyframes animateGlow {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}




@keyframes imganimation {
    0% {
        filter: drop-shadow(0 0 0.25rem var(--glow1));
        transform: translateY(3px);
    }


    50% {
        filter: drop-shadow(0 0 0.55rem var(--glow2));
        transform: translateY(0px);
    }

    to {
        filter: drop-shadow(0 0 0.25rem var(--glow1));
        transform: translateY(3px);
    }
}

.drops {


    animation-duration: 1.6s;

    animation-name: imganimation !important;

    animation-timing-function: ease-in-out;

    animation-iteration-count: infinite;
}