div:after {
    position: fixed;
    content: '';
    top: 15%;
    left: 0;
    right: 15%;
    z-index: -1;
    height: 95%;
    width: auto;
    margin: 0 auto;
    filter: blur(80px) opacity(40%);
    transform: scale(.70);
    background: linear-gradient(150deg, black, var(--glow2));
    background-size: 200% 200%;
    animation: animateGlow 10s ease infinite;



}

div {
    position: fixed;




}




@keyframes animateGlow {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}